.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-bottom: 40px;
}

.buttons__item {
  padding: 13px 20px;
  background-color: inherit;
  border: 2px solid #4fc3f7;
  font-weight: bold;
  cursor: pointer;
}

.buttons__item:hover {
  background-color: #f0faff;
}

.buttons__item.button-active {
  background-color: #4fc3f7;
  color: #fff;
}

.flex-section__content {
  padding: 40px;
  border: 2px solid #4fc3f7;
}

.flex__box {
  display: flex;
  border: 1px dotted #808080;
  padding: 2px;
  gap: 2px;
}

.flex__item {
  color: #fff;
  background-color: #4fc3f7;
  font-weight: 600;
  padding: 12px 20px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.justifyContent__box {
  justify-content: flex-start;
}

.flexDirection__box {
  flex-direction: row;
}

.alignItems__box {
  align-items: stretch;
  height: 100px;
}
